<div class="container" id="patents">
  <h2 class="text-center">My Patents</h2>
  <ul class="list-unstyled">
    <li>
      <a href="https://patents.google.com/patent/CN102204485A/en" target="_blank">
        The 3D Flower Stand [CN 201110096600.9]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN202043955U/en" target="_blank">
        The 3D Helical Flower Stand [CN 201120113784.0]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN101361453B/en" target="_blank">
        The Automatic Watering Control System [CN 200810222894]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN101261044A/zh" target="_blank">
        The Bionic Solar Water Heater Collector Panel [CN 200810089226]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN102277845A/en" target="_blank">
        The Fallen Leaves Collector [CN 201110119470.6]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN102550385B/en" target="_blank">
        The Hydroponics Method for Plant Production [CN 201010623631.0]
      </a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/CN102224798B/en" target="_blank">
        The Watering Equipment For Street [CN 201110096644.1]
      </a>
    </li>
  </ul>
</div>
